.entire-page {
    background-color: rgb(244, 154, 184);
	display: flex;
	flex-direction: column;
}

/* Navigational Menu */

#main-menu {
	font-family: sans-serif;
	list-style-type: none;
	background-color: #fff;
  	margin: 0;
  	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#main-menu a {
  	color: rgb(0, 0, 0);
  	text-align: center;
  	text-decoration: none;
}

#main-menu a:hover {
	background-color: rgb(197, 47, 97);
	color:#fff;
}

.active {
	background-color: rgb(197, 47, 97);
}

/* Recipe Lists */
.recipe-list {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 3fr;
}

img {
	width: 100%;
}

/* Mobile view */
@media screen and (max-width: 800px) {

	.recipe-list {
		grid-template-columns: 1fr;
	}
}
