body {
	margin:0%;
	padding:0%;
}

hr {
    width: 70%;
    border-color: black;
	margin-bottom: 3%;
}

header {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
	text-align: left;
	font-size: 230%;
	font-weight: 600;
	margin: 2%;
}

h2 {
	text-align: center;
	font-size: 230%;
	font-weight: 600;
}

h3 {
	text-align: left;
	font-size: 130%;
	margin-left: 2%;
}

h4 {
	margin-left: 3%;
}

footer {
	margin: 2%;
}

.entire-page {
	background-color: rgb(244, 154, 184);
	display: flex;
	flex-direction: column;
	font-family: Helvetica, sans-serif, Arial;
}



/* Navigational Menu */

.header {
	padding: 5px;
	text-align: left;
	background: #EF4E56;
	color: white;
	font-size: 20px;
}


#main-menu {
	font-family: Helvetica, sans-serif, Arial;
	font-size: large;
	font-weight: bold;
	list-style-type: none;
	background-color: #fff;
	margin: 0;
	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#main-menu a {
	color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

#main-menu a:hover {
	background-color: rgb(197, 47, 97);
	border: 6px solid;
	border-color: rgb(197, 47, 97);
	color:white;
	/* padding: 5px; */
}

/* Grow */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	transform: scale(1.1);
}

.active {
	border: 6px solid;
	border-color: rgb(197, 47, 97);
	/* display: inline-block;
	vertical-align: middle; */
	/* border-color:white; */
}

.nonactive {
	border: 6px solid;
	border-color: white;
}

/* Recipe Lists */
.recipe-list {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 3fr;
	margin-left: 3%;
	margin-right: 3%;
}

.ingredients {
	list-style: circle;
	margin-left: 2%;
}

.instructions {
	list-style: decimal;
	margin-left: 2%;
}

img {
	width: 100%;
}

/* Mobile view */
@media screen and (max-width: 750px) {

	#main-menu {
		flex-direction: column;
		padding: 2px;
		justify-content: center;
	}

	.nonactive {
		border-style: hidden;
	}

	li {
		align-self: center;
	}

	.active {
		border: 6px solid;
		border-color: rgb(197, 47, 97);
		/* display: inline-block;
		vertical-align: middle; */
		/* border-color:white; */
	}

	.recipe-list {
		grid-template-columns: 1fr;
	}

	h3 {
		text-align: center;
	}
}
