body {
    background-color: rgb(244, 154, 184);
}

/* Navigational Menu */

#main-menu {
	font-family: sans-serif;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

#main-menu li {
	float: left;
	background-color: #fff;
}

#main-menu a {
	display: block;
  	color: rgb(0, 0, 0);
  	text-align: center;
  	padding: 14px 80px;
  	text-decoration: none;
}

#main-menu a:hover {
	background-color: rgb(197, 47, 97);
	color:#fff;
}

.active {
	background-color: rgb(197, 47, 97);
}