/* intro section */
.intro {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin-left: 3%;
	margin-right: 3%;
    padding: 3%;
    -ms-grid-column-align: center;
}

.intro p {
    text-align: left;
    line-height: 150%;
    font-size: 150%;
    padding-right: 3%;
}

/* Mobile view */
@media screen and (max-width: 750px) {

    .intro {
        grid-template-columns: 1fr;
    }

}
