.entire-page {
    background-color: #C8F4D9;
}

/* Navigational Menu */

.header {
    background: #5B9F77;
    color: white;
}

h2 {
    color: #437658;
    font-weight: bold;
}


#main-menu {
    background-color: white;
}

#main-menu a {
    color: black;
}

#main-menu a:hover {
    background-color: #437658;
    border-color: #437658;
    color: white;
}


.active {
    border-color: #437658;
}

.nonactive {
    border-color: white;
}

/* Mobile view */
@media screen and (max-width: 750px) {
    .active {
        border-color: #437658;
    }
}
