.entire-page {
    background-color: #DEC3F6;
}

/* Navigational Menu */

.header {
    background: #A67ECB;
    color: white;
}

h2 {
    color: #5B2B89;
    font-weight: bold;
}


#main-menu {
    background-color: white;
}

#main-menu a {
    color: black;
}

#main-menu a:hover {
    background-color: #765892;
    border-color: #765892;
    color: white;
}


.active {
    border-color: #765892;
}

.nonactive {
    border-color: white;
}

/* Mobile view */
@media screen and (max-width: 750px) {
    .active {
        border-color: #765892;
    }
}
